html,
body {
    background-color: #F3F3F3;
    box-sizing: border-box;
    color: #282828;
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    padding: 0px;
}

main {
    flex-grow: 1;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
