@using Earl.Crawler.Templating.DefaultTemplate.ViewModels

@{
	//TODO: auto-prepend _ViewStart to all views (if it exists) via custom project loader??
	Layout = "Views.Shared.Layouts.Default";
}

@model ResultViewModel

<h1>@Model.Heading</h1>

<code>@Model.Result.Url</code>
